.swiper-slide .cp-animate,
.page-enter-active .cp-animate,
.page-leave-active .cp-animate {
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.page-enter .cp-animate--fade,
.page-leave-active .cp-animate--fade {
  opacity: 0;
}

.page-enter .cp-animate--fade,
.page-leave-active .cp-animate--fade {
  opacity: 0;
}

.swiper-slide .cp-animate--slide {
  transform: translate3d(0,150%,0)
}

.swiper-slide-active .cp-animate--slide {
  transform: none;
}

.page-enter .cp-animate--slide,
.page-leave-active .cp-animate--slide {
  transform: translate3d(0,150%,0)
}
.md-oh {
  overflow: hidden;
}
.md-oh-x {
  overflow-x: hidden;
}

.md-oh-y {
  overflow-y: hidden;
}
